services:
  order-db:
    image: postgres:17.6
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=postgres
      - POSTGRES_HOST_AUTH_METHOD=scram-sha-256
      - POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256
    networks:
      - backend-labs-network
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    volumes:
      - ./configs/postgresql/postgresql.conf:/etc/postgresql/postgresql.conf
      - order-db-data:/var/lib/postgresql/data/
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d postgres"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
  
  order-pgbouncer:
    image: public.ecr.aws/bitnami/pgbouncer:1.24.1
    depends_on:
      order-db:
        condition: service_healthy
    environment:
      - POSTGRESQL_HOST=order-db
      - POSTGRESQL_PORT=5432
      - POSTGRESQL_USERNAME=user
      - POSTGRESQL_PASSWORD=mypassword
      - PGBOUNCER_IDLE_TRANSACTION_TIMEOUT=60
      - PGBOUNCER_POOL_MODE=transaction
      - PGBOUNCER_SERVER_RESET_QUERY_ALWAYS=0
      - PGBOUNCER_SERVER_LIFETIME=3600
      - PGBOUNCER_SERVER_IDLE_TIMEOUT=60
      - PGBOUNCER_MAX_DB_CONNECTIONS=50
      - PGBOUNCER_MAX_CLIENT_CONN=10000
      - PGBOUNCER_RESERVE_POOL_SIZE=5
      - PGBOUNCER_MIN_POOL_SIZE=2
      - PGBOUNCER_DEFAULT_POOL_SIZE=16
      - PGBOUNCER_IGNORE_STARTUP_PARAMETERS=extra_float_digits
    networks:
      - backend-labs-network
    ports:
      - "15432:6432"
    restart: unless-stopped

  order-kafka:
    image: apache/kafka:4.0.0
    restart: always
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT://:29092,CONTROLLER://:9093,EXTERNAL://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://order-kafka:29092,EXTERNAL://localhost:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@order-kafka:9093
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
      - KAFKA_LOG_DIRS=/var/lib/kafka/data
      - CLUSTER_ID=universe-labs-cluster
    volumes:
      - order-kafka-data:/var/lib/kafka/data
    networks:
      - backend-labs-network
  
  order-kafka-ui:
    image: provectuslabs/kafka-ui:latest
    restart: always
    ports:
      - "8180:8080"
    depends_on:
      - order-kafka
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=order-kafka:29092
    networks:
      - backend-labs-network
  
  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    depends_on:
      order-pgbouncer:
        condition: service_started
    environment:
      APP_ENVIRONMENT: "Development"
    # entrypoint: ["./migrate"]
    volumes:
      - ./configs/order-service:/etc/order-service
    ports:
      - "5000:5000"
      - "50051:50051"
    networks:
      - backend-labs-network
    restart: unless-stopped

  # order-consumer:
  #   build:
  #     context: ./order-service
  #     dockerfile: Dockerfile
  #   depends_on:
  #     order-service:
  #       condition: service_started
  #   environment:
  #     APP_ENVIRONMENT: "Development"
  #   entrypoint: ["./consumer"]
  #   deploy:
  #     replicas: 5
  #   volumes:
  #     - ./configs/order-service-consumer:/etc/order-service-consumer
  #   networks:
  #     - backend-labs-network
  #   restart: unless-stopped

networks:
  backend-labs-network:
    driver: bridge
  
volumes:
  order-db-data:
  order-kafka-data:
